/*
	css变量是声明式的, 值得更新, 同时影响更行前和更新后的用户
	scss变量则只影响更新后的用户
	但是, css变量的修改,得靠javascript:
	document.documentElement.style.getPropertyValue('--css-v'); //get
	document.documentElement.style.setProperty('--css-v',<new value>); //set
*/
$scss-v: value 1;
:root {
	--css-v: 100;
}

.rule-1 {
	scss-value: $scss-v;
	css-value: var(--css-v);
}

$scss-v: value 2;

.rule-2 {
	scss-value: $scss-v;
	css-value: var(--css-v);
}

// @use "sass:math" as math;  @use 不适用
// math.$pi: 0;
